body{
    padding: 0;
    margin: 0;
    background-color: #050507;
}
.center{
    text-align: center;
}
.topName{
    width: 50%;
    padding: 30px;
}
.delirious{
    width: 65%;
    padding: 30px;
}
.soundCloud{
    width: 75%;
    margin: 20px auto;
}